{% extends "layout.html" %}

{% block content %}

{% include 'navbar.html' %}

{% include '_messages.html' %}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
        <table class="table table-sm">
            <thead>
                <th>S No.</th>
                <th>Images</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Update</th>
                <th>Delete</th>
            </thead>
            <tbody>
                {% for key, product in session['Shoppingcart'].items() %}
                <tr>
                    <td>{{loop.index}}</td>
                    <td><img src="{{url_for('static', filename='images/'+product.image)}}" alt="{{product.name}}" height="50" width="50"></td>
                    <td>{{product.name}}</td>
                    <form action="{{url_for('updatecart', code=key)}}" method="POST">
                    <td>${{product.price}}</td>
                    <td><input type="number" name="quantity" min="1" max="10" value="{{product.quantity}}" ></td>
                    {% set subtotal= product.quantity|int * product.price|float%}
                    <td>${{subtotal}}</td>
                    <td><button class="btn btn-sm btn-info">Update</button></td>
                </form>
                    <td><a href="{{url_for('deleteitem',id=key)}}" class="btn btn-sm btn-danger">Remove</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <table>
                <tr>
                    <td></td>
                    <td><a href="{{url_for('get_order')}}" class="btn btn-success">Place Order</a></td>
                    <td><h5>Tax : ${{ tax }}</h5></td>
                    <td><h5>Grand Total: ${{grandtotal}}</h5></td>
                    <td><a href="{{url_for('clearcart')}}" class="btn btn-danger btn-sm float-right">Clear Cart</a></td>
                </tr>
        </table>
    </div>
</div>
</div>

{% endblock %}